<!-- Search for friends -->
  <%= form_tag friends_path, method: :get, action: :search do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "Find a friend"
  %>
  <%= submit_tag "Search", class: "btn btn-dark ml-3" %>
  <% end %>
  <% if params[:query].present? %>
    <% @results.each do |friend|%>
      <%= friend.username %> is <%= friend.name %>
      <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: friend.id}) do %>
      <input class="" type=submit value='Add Friend'>
      <% end %>
    <% end %>
  <% end %>


<!-- Friend requests received -->
<div class="">
  <% if @user.requested_friends %>

  <h3>Friend Requests:</h3>

  <% @requests.each do |friend| %>
  <%= friend.name%>
  <%= form_tag ({controller: 'friends', action: 'accept', method: 'post', id: friend.id}) do %>
    <input class="" type=submit value='Accept'>
    <% end %>
  <%= form_tag ({controller: 'friends', action: 'decline', method: 'post', id: friend.id}) do %>
    <input class="" type=submit value='Decline'>
    <% end %>
  <% end %>
  <% end %>
</div>

<!-- Friend Requests sent -->
<div class="">
  <% if @user.pending_friends %>
  <h3>Pending:</h3>
  <% @pending.each do |friend| %>
  <%= friend.name%>
  <% end %>
  <% end %>
</div>
