<!-- passwords/new.html.erb !-->
<!-- (connected with _password.scss) !-->

<div class='container' id='password-form'>
  <div class='container' id='password-form-title-container'>
    <h2 class='text' id='password-form-title'>
      Password Reset
    </h2>  <!-- end password-form-title !-->
  </div> <!-- end password-form-title-container !-->

  <%= simple_form_for(
      resource, 
      as: resource_name, 
      url: password_path(resource_name), 
      html: { method: :post }
      ) do |f| %>
  <%= f.error_notification %>
    <div class='form-inputs' id='password-form-inputs'>
      <%= f.input :email, 
                  class: 'form-input', 
                  id: 'password-form-inputs-pass', 
                  required: true, 
                  autofocus: true, 
                  placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
                  input_html: { autocomplete: 'email' } 
      %>
    </div> <!-- end password-form-inputs !-->

    <div class='form-actions' id='password-form-reset'>
      <%= f.button :submit, 'Send Instructions' %>
    </div> <!-- end password-form-reset !-->

    <div class='form-actions' id='password-form-links'>
      <%= render 'devise/shared/links' %>
    </div> <!-- end password-form-links !-->
  <% end %> <%# end simple_form_for %>
</div> <!-- end password-form !-->
