<footer class='footer d-flex align-items-center'>
  <div class='container'>
    <div class='footer-content-wrap'>
      <p>
        Made with ♥ by the Food Fluent Team
      </p>
      <div class='media-links d-flex justify-content-center align-items-center'>
        <%= mail_to 'info@foodfluent.xyz' do %>
          <%= image_tag 'social/email.png', class: 'media-link' %>
        <% end %>

        <%= link_to 'https://facebook.com' do %>
          <%= image_tag 'social/facebook.png', class: 'media-link' %>
        <% end %>

        <%= link_to 'https://github.com/sofofos/food-fluent' do %>
          <%= image_tag 'social/github.png', class: 'media-link' %>
        <% end %>

        <%= link_to 'https://instagram.com' do %>
          <%= image_tag 'social/instagram.png' , class: 'media-link' %>
        <% end %>

        <%= link_to 'https://linkedin.com' do %>
          <%= image_tag 'social/linkedin.png' , class: 'media-link' %>
        <% end %>

        <%= link_to 'https://twitter.com' do %>
          <%= image_tag 'social/twitter.png' , class: 'media-link' %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
