<!-- _navbar.html.erb !-->

<div class='navbar navbar-expand-sm navbar-light navbar-lewagon' id='nav'>
  <%= link_to '/', class: 'navbar-brand' do %>
    <%= image_tag 'cutlery-green.png' %>
  <% end %> <!-- end link_to !-->

  <button class='navbar-toggler' id='navbar-button' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'>
    </span>
  </button> <!-- end navbar-button !-->

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto' id='navbar-list'>
      <% if user_signed_in? %>
        <li class='nav-item dropdown' id='navbar-list-item'>
          <%= image_tag current_user.avatar_path, 
                        class: 'avatar dropdown-toggle', 
                        id: 'navbarDropdown', 
                        data: { toggle: 'dropdown' }, 
                        'aria-haspopup': true, 
                        'aria-expanded': false 
          %>

          <div class='dropdown-menu dropdown-menu-right' id='navbar-list-item-dropdown' aria-labelledby='navbarDropdown'>
            <div class='links' id='navbar-list-item-links'>
              <%= link_to 'Dashboard', 
                  dashboard_path, 
                  class:'drop-down-link dropdown-item' 
              %>
              <%= link_to 'Logout', 
                  destroy_user_session_path, 
                  method: :delete, 
                  class: 'drop-down-link dropdown-item' 
              %>
            </div> <!-- end navbar-list-item-links !-->
          </div> <!-- end navbar-list-item-dropdown !-->
        </li> <!-- end navbar-list-item !-->
      <% else %>
        <li class='nav-item' id='navbar-list-login'>
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li> <!-- end navbar-list-login !-->

        <li class='nav-item' id='navbar-list-signup'>
          <%= link_to 'Signup', new_user_registration_path, class:'nav-link'%>
        </li> <!-- end navbar-list-signup !-->
      <% end %> <!-- end user_signed_in? !-->
    </ul> <!-- end navbar-list !-->
  </div> <!-- end navbarSupportedContent !-->
</div> <!-- end nav !-->
