<!-- dashboard.html.erb !-->

<div class='dashboard-container'>
  <div class='dashboard-head'>
    <%= render 'pages/welcome' %>
    <!-- profile-list !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end dash-main-row !-->

  

  <!-- friends-list + restaurant search !-->
  <div class="dashboard-content">
    <div class="cards-friends-requests">
      <%= render 'friends/search' %>
      <% if params[:query].present? %>
      <%= render 'friends/results' %>
      <% end %>
      <% unless @user.requested_friends.empty? %>
      <%= render 'friends/requests' %>
      <% end %>
      <% unless @user.pending_friends.empty? %>
      <%= render 'friends/requests_pending' %>
      <% end %>
    </div>
  </div>
  
  <div class='dashboard-content'>
    <div>
      <%= render 'friends/list' %>
    </div>

  </div>
</div>

