<!-- dashboard.html.erb !-->

<div class='container' id='dashboard-main'>
  <h1 id='dashboard-text-profile'>
    Profile
  </h1>

  <!-- user-info !-->
  <div id='dashboard-list-restrictions'>
    <h5 id='dashboard-list-restrictions-welcome'>
      Welcome <%= @user.name %>!
    </h5>

    <ul id='dashboard-list-restrictions-items'>
      Dietary Restrictions:
      <% @user.diet_profiles.each do |tag| %>
        <li>
          <%= tag.health_label.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- friends-list !-->
  <div class='container' id='dashboard-friends'>
    <h5 id='dashboard-list-friends'>
      Your Friends
    </h5>

    <% @user.friends.each do |friend| %>
      <div id='card-dashboard-friend'>
        <%= friend.name %>
        <% friend.diet_profiles.each do |tag| %>
          <i class='fas fa-ice-cream'>
            <%= tag.health_label.name  %>
          </i>
        <% end %>
      </div>
    <% end %>

    <div id='dashboard-links-friends'>
      <div id='dashboard-container-friends-find'>
        <%= link_to 'Find Friends', friends_path %>
      </div>
      <div id='dashboard-container-friends-see'>
        <%= link_to 'See Friend Requests', friends_path %>
      </div>
    </div>
  </div>

  <!-- find-restaurant !-->
  <!-- select-friends !-->
  <div class='container' id='dashboard-search'>
    <%= form_tag restaurants_path, method: :get do %>
      <% @user.friends.each do |friend| %>
        <div class='d-flex'>
          <%= check_box_tag 'friend_ids[]', friend.id, id: friend, class: 'form-control'%>
          <%= friend.name %>
        </div>
      <% end %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <!-- add-location !-->
</div>
