<div class='container'>
  <div class='row dashboard-head'>
    <%= render 'pages/welcome' %>
    <!-- profile-list !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end dash-main-row !-->

  <div class='row' id='dash-friends-row'>
  <%= render 'friends/search' %>
  <% if params[:query].present? %>
    <%= render 'friends/results' %>
    <!-- ALSO NEEDS STYLING ^^^ -->
  <% end %>

  <!-- friends-list !-->
    <div class='cards' id='dash-friends-cards'>
      <%= render 'friends/list' %>
    </div>
  </div>

<!-- PARTIAL(s) BELOW NEED STYLING -->
  <% unless @user.requested_friends.empty? %>
    <%= render 'friends/requests' %>
  <% end %>
<!-- END OF PARTIALS MISSING STYLING -->

  <div class='row' id='dash-finder-row'>
   <%= render 'pages/find_resto' %>
 </div>

</div>  
