<div class='container' id='dash-container'>
  <div class='row' id='dash-main-row'>
    <!-- avatar !-->
    <%= render 'pages/welcome' %>
    <!-- profile-list !-->
      <!-- div class='column', id='dash-main-list' inside !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end dash-main-row !-->

  <%= render 'friends/search' %>
  <% if params[:query].present? %>
    <%= render 'friends/results' %>
  <% end %>

  <!-- friends-list !-->
  <%= render 'friends/list' %>

<!-- PARTIAL(s) BELOW NEED STYLING -->
  <% unless @user.requested_friends.empty? %>
    <%= render 'friends/requests' %>
  <% end %>
<!-- END OF PARTIALS MISSING STYLING -->

  <%= render 'pages/find_resto' %>
</div>  