<div class='dashboard-container'>
  <div class='dashboard-head'>
    <%= render 'pages/welcome' %>
    <!-- profile-list !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end dash-main-row !-->

  <div class='dashboard-content'>
    <%= render 'friends/search' %>
    <% if params[:query].present? %>
      <%= render 'friends/results' %>
    <% end %>

  <!-- friends-list + restaurant search !-->
    <div class='cards' id='dash-friends-cards'>
      <%= render 'friends/list' %>
    </div>
  </div>
</div>

<div class='dashboard-container'>
  <div class='dashboard-content'>
    <%# <% unless @user.requested_friends.empty? %>
    <%= render 'friends/requests' %>
    <%# <% end %>
  </div>
</div>
