<!-- dashboard.html.erb !-->

<div class='container' id='dash-container'>
  <div class='row' id='dash-main-row'>
    <!-- avatar !-->
    <div class='column' id='dash-main-card'>
      <div class='container' id='dash-main-card-container'>
        <div class='container' id='dash-main-card-picture-container'>
          <%= image_tag 'vivi.jpg', class: 'avatar', id: 'dash-main-card-picture', alt: 'Profile Picture', data: { title: 'profile_pic' }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>

        <div class='container' id='dash-main-card-text-container'>
          <h5 id='dash-main-card-text'>
            Welcome
            <br>
            <%= @user.name.split.first %>!
          </h5>
        </div>
      </div>
    </div>

    <%= render 'diet_profiles/show' %>

  <!-- friends-list !-->
  <div class='container' id='dash-friends'>
    <h5 id='dash-list-friends'>
      Friends
    </h5>

    <% @user.friends.each do |friend| %>
      <div id='card-dash-friend'>
        <%= friend.name %>
        <% friend.diet_profiles.each do |tag| %>
          <i class='fas fa-ice-cream'>
            <%= tag.health_label.name  %>
          </i>
        <% end %>
      </div>
    <% end %>

    <div id='dash-links-friends'>
      <div id='dash-container-friends-find'>
        <%= link_to 'Find Friends', friends_path %>
      </div>
      <div id='dash-container-friends-see'>
        <%= link_to 'See Friend Requests', friends_path %>
      </div>
    </div>
  </div>

  <!-- find-restaurant !-->
  <!-- select-friends !-->
  <div class='container' id='dash-search'>

    <%= form_tag restaurants_path, method: :get do %>
      <% @user.friends.each do |friend| %>
        <div class='d-flex'>
          <%= check_box_tag 'friend_ids[]', friend.id, id: friend, class: 'form-control'%>
          <%= friend.name %>
        </div>
      <% end %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
