<!-- dashboard.html.erb !-->

<div class='container' id='dash-container'>
  <div class='row' id='dash-main-row'>
    <!-- avatar !-->
    <div class='column' id='dash-main-card'>
      <div class='container' id='dash-main-card-container'>
        <div class='container' id='dash-main-card-picture-container'>
          <%= image_tag @user.avatar_path, 
              class: 'avatar', 
              id: 'dash-main-card-picture', 
              alt: 'Profile Picture', 
              data: { title: 'profile_pic' }, 
              'aria-haspopup': true, 
              'aria-expanded': false 
          %>
        </div> <!-- end dash-main-card-picture-container !-->

        <div class='container' id='dash-main-card-text-container'>
          <h5 id='dash-main-card-text'>
            Welcome
            <br> <!-- space between Welcome and @user.name !-->
            <%= @user.name.split.first %>!
          </h5>  <!-- end dash-main-card-text !-->
        </div> <!-- end dash-main-card-text-container !-->
      </div> <!-- end dash-main-card-container !-->
    </div> <!-- end dash-main-card !-->

    <!-- profile-list !-->
      <!-- div class='column', id='dash-main-list' inside !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end dash-main-row !-->

  <div class='row' id='dash-friends-row'>
    <!-- friends-bar !-->
    <div class='row' id='dash-friends-titlebar'>
      <div class='column' id='dash-friends-titlebar-left'>
        <h5 id='dash-friends-titlebar-left-text'>
          Friends
        </h5>  <!-- end dash-friends-titlebar-left-text !-->
      </div> <!-- end dash-friends-titlebar-left !-->

      <div class='row' id='dash-friends-titlebar-center'>
        <%= form_tag friends_path, method: :get, action: :search do %>
        <%= text_field_tag :query, 
            params[:query], 
            class: 'form-control', 
            id: 'dash-friends-titlebar-center-bar', 
            placeholder: 'My Friends' 
        %>
        <%= submit_tag 'find', 
            class: 'btn btn-primary', 
            id: 'dash-friends-titlebar-center-button' 
        %>
      </div> <!-- end dash-friends-titlebar-center !-->

      <div class='column' id='dash-friends-titlebar-right'>
        <div class='container' id='dash-friends-titlebar-right-box'>
          <div class='btn btn-primary' id='dash-friends-titlebar-right-button'>
            +
          </div>
        </div> <!-- end dash-friends-titlebar-right-button !-->
      </div> <!-- end dash-friends-titlebar-right !-->
    </div> <!-- end dash-friends-titlebar !-->

    <!-- friends-list !-->
    <div class='cards' id='dash-friends-list'>
      <% @user.friends.each do |friend| %>
        <div class='card' id='dash-friends-list-container'>
          <%= friend.name %>
          <% friend.diet_profiles.each do |tag| %>
            <%= tag.health_label.name  %>
            <%  tag.health_label.assign_icon(tag.health_label) %>
              <%= image_tag "#{tag.health_label.icon_path}", 
                  class: 'icon', 
                  id: 'dash-main-list-allergy-icon', 
                  alt: 'Allergy Icon', 
                  data: { title: 'allergy' }, 
                  'aria-haspopup': true, 
                  'aria-expanded': false 
              %>
          <% end %>
        </div> <!-- dash-friends-list-container !-->
      <% end %>
    </div> <!-- end dash-friends-list !-->
  </div> <!-- end dash-friends-row !-->

  <div class='row' id='dash-restos-row'>
    <!-- restos-bar !-->
    <div class='row' id='dash-restos-titlebar'>
      <div class='column' id='dash-restos-titlebar-left'>
        <h5 id='dash-restos-titlebar-left-text'>
          Restaurants
        </h5>  <!-- end dash-restos-titlebar-left-text !-->
      </div> <!-- end dash-restos-titlebar-left !-->

      <div class='column' id='dash-restos-titlebar-right'>
        <%= form_tag friends_path, method: :get, action: :search do %>
          <%= text_field_tag :query, 
              params[:query], 
              class: 'form-control', 
              id: 'dash-restos-titlebar-right-bar', 
              placeholder: 'Enter Location' 
          %>
          <%= submit_tag 'enter', 
              class: 'btn btn-primary', 
              id: 'dash-restos-titlebar-right-button' 
          %>
        <% end %>
      </div>
    </div> <!-- end dash-restos-titlebar !-->
    <!-- find-restaurant !-->
    <!-- select-friends !-->

    <!-- restos-list !-->
    <div class='cards' id='dash-restos-list'>
      <%= form_tag restaurants_path, method: :get do %>
      <% @user.friends.each do |friend| %>
        <div class='card' id='dash-restos-list-container'>
          <div class='d-flex'>
            <%= check_box_tag 'friend_ids[]', friend.id, 
                class: 'form-control', 
                id: friend 
            %>
            <%= friend.name %>
          </div>
          <% end %>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div> <!-- end dash-restos-list !-->
  </div> <!-- end dash-restos-row !-->
</div> <!-- end dash-container !-->
