<!-- dashboard.html.erb !-->

<div class='container' id='dash-container'>
  <div class='row dashboard-head'>

    <!-- pages/welcome do:-->
    <div class='column card-user'>
      <div class='container card-user-main' >
        <!-- <div class='container card-user-content'> -->
          <%= image_tag @user.avatar_path, 
              class: 'avatar', 
              id: 'dash-main-card-pic', 
              alt: 'Profile Picture', 
              data: { title: 'profile_pic' }, 
              'aria-haspopup': true, 
              'aria-expanded': false 
          %>
        </div>

        <div class='container card-text'>
          <h5>Welcome</h5>
            <p class="card-user-name">
              <strong><%= @user.name.split.first %>!</strong>
            </p>
          </h5>
        </div>
      </div>
    </div>
  <!-- pages/welcome end -->

  <!-- diet_profiles/show do..end !-->
    <%= render 'diet_profiles/show' %>
  </div> <!-- end user area (first row) !-->

  <!-- friends sections start here -->
  <div class='row' id='dash-friends-row'>

  <!-- friends/search do -->
    <div class='row' id='dash-friends-titlebar'>
      <div class='column' id='dash-friends-titlebar-left'>
        <h5 id='dash-friends-titlebar-left-text'>
          Friends
        </h5>
      </div>
      <!-- actual search bar here -->
      <div class='row' id='dash-friends-titlebar-center'>
        <%= form_tag friends_path, method: :get, action: :search do %>
          <%= text_field_tag :query, 
              params[:query], 
              class: 'form-control', 
              id: 'dash-friends-titlebar-center-bar', 
              placeholder: 'My Friends' 
          %>
          <%= submit_tag "your friend's username",
              class: 'btn btn-primary', 
              id: 'dash-friends-titlebar-center-button' 
          %>
        <% end %>
      </div>
      <!-- search bar ends -->
      <!-- button to add -->
      <div class='column' id='dash-friends-titlebar-right'>
        <div class='container' id='dash-friends-titlebar-right-box'>
          <div class='btn btn-primary' id='dash-friends-titlebar-right-button'>
            Add Friend
          </div>
        </div>
      </div>
    </div>
    <!-- friends/search ends -->

     <!-- friends/list do ! TODO: CONVERT THIS AREA TO RESULTS -->
    <div class='cards' id='dash-friends-cards'>
      <% @user.friends.each do |friend| %>
        <div class='card-category' id='dash-friends-card'>
          <div class='container' id='dash-friends-card-head-container'>
            <div class='column' id='dash-friends-card-head-pic-container'>
              <%= image_tag @user.avatar_path, class: 'avatar',
                id: 'dash-friends-card-head-pic', alt: 'Profile Picture',
                data: { title: 'profile_pic' }, 'aria-haspopup': true,
                'aria-expanded': false %>
            </div>

            <div class='column' id='dash-friends-card-head-text-container'>
              <div class='text' id='dash-friends-card-head-text' >
                <%= friend.name %>
              </div>
            </div>
          </div>

          <div class='container' id='dash-friends-card-body-container'>
            <% friend.diet_profiles.each do |tag| %>   
              <li class='container' id='dash-friends-card-body-list'>
                <div class='icon' id='dash-friends-card-body-label'>
                  <%  tag.health_label.assign_icon(tag.health_label) %>
                  <%= image_tag "#{tag.health_label.icon_path}", 
                    class: 'icon', id: 'dash-main-list-allergy-icon',
                    alt: 'Allergy Icon', data: { title: 'allergy' },
                    'aria-haspopup': true, 'aria-expanded': false %>
                  <div class='text' id='dash-friends-card-body-tooltip'>
                    <%= tag.health_label.name.gsub('-Free', '') %>
                  </div>
                </div>
              </li>
            <% end %>
          </div>
        </div> <!-- dash-friends-card !-->
      <% end %>
    </div>
  </div>
  <!-- friends/list end -->

  <!-- pages/find_resto starts -->
  <div class='row' id='dash-finder-row'>

    <!-- finder-bar !-->
    <div class='row' id='dash-finder-titlebar'>
      <div class='column' id='dash-finder-titlebar-left'>
        <h5 id='dash-finder-titlebar-left-text'>
          Hungry? Select the friends joining you and start a search!
        </h5>  <!-- end dash-finder-titlebar-left-text !-->
      </div> <!-- end dash-finder-titlebar-left !-->

      <div class='column' id='dash-finder-titlebar-right'>
        <%= form_tag friends_path, method: :get, action: :search do %>
          <%= text_field_tag :query, 
              params[:query], 
              class: 'form-control', 
              id: 'dash-finder-titlebar-right-bar', 
              placeholder: 'Enter Location' 
          %>
          <%= submit_tag 'enter', 
              class: 'btn btn-primary', 
              id: 'dash-finder-titlebar-right-button' 
          %>
        <% end %>
      </div> <!-- end dash-finder-titlebar-right !-->
    </div> <!-- end dash-finder-titlebar !-->

    <!-- finder-list !-->
    <div class='cards' id='dash-finder-cards'>
      <%= form_tag restaurants_path, method: :get do %>
      <% @user.friends.each do |friend| %>
        <div class='card' id='dash-finder-card'>
          <div class='container' id='dash-finder-card-head-container'>
            <div class='column' id='dash-finder-card-head-pic-container'>
              <%= image_tag @user.avatar_path, class: 'avatar',
                id: 'dash-finder-card-head-pic', alt: 'Profile Picture',
                data: { title: 'profile_pic' }, 'aria-haspopup': true,
                'aria-expanded': false %>
            </div> <!-- end dash-finder-card-head-pic-container !-->

            <div class='column' id='dash-finder-card-head-text-container'>
              <div class='container' id='dash-finder-card-head-checkbox-container'>
                <%= check_box_tag 'friend_ids[]', friend.id, 
                    class: 'form-control', 
                    id: 'dash-finder-card-head-checkbox' 
                %>
              </div> <!-- end dash-finder-card-head-checkbox-container !-->

              <div class='text' id='dash-finder-card-head-text' >
                <%= friend.name %>
              </div> <!-- end dash-finder-card-head-text !-->
            </div> <!-- end dash-finder-card-head-text-container !-->
          </div> <!-- end dash-finder-card-head-container !-->
        </div> <!-- dash-finder-card !-->
      <% end %>
      <% end %>
    </div> <!-- end dash-finder-cards !-->
  </div> <!-- end dash-finder-row !-->
</div> <!-- end dash-container !-->
