<!-- _show.html.erb !-->
<div class='card-user-content diet-profile'>
  <div class="user-profile-container">
    <% unless @diets.select(&@diet).empty? %>
      <%= render 'diet_profiles/diet' %>
    <% end %>

    <% unless @diets.select(&@allergy).empty? %>
      <%= render 'diet_profiles/allergy'%>
    <% end %>

    <% unless @diets.select(&@macros).empty? %>
      <%= render 'diet_profiles/macros' %>
    <% end %>

    <!-- TODO: ADD STYLING FOR THIS BUTTON -->
    <% if @diets.empty?  %>
      <%= link_to "Add a diet profile", new_diet_profile_path %>
    <% else %>
      <%= link_to image_tag('edit.svg', class:'icon-sm', id:"edit-icon"),
      edit_diet_profile_path(@diets.map(&:id)) %>
    <% end %>
  </div>
</div> <!-- end dash-main-list-container !-->
