<!-- _show.html.erb !-->

<div class='card-user-content diet-profile'>
  <div class="user-profile-container">
    <% unless @diets.select(&@diet).empty? %>
      <%= render 'diet_profiles/diet' %>
    <% end %>

    <% unless @diets.select(&@allergy).empty? %>
      <%= render 'diet_profiles/allergy'%>
    <% end %>

    <% unless @diets.select(&@macros).empty? %>
      <%= render 'diet_profiles/macros' %>
    <% end %>

    <% if @diets.empty?  %>
      <div class='green-button m-5' id='button-diet'>
        <%= link_to "Add a Diet Profile", new_diet_profile_path %>
      </div>
    <% else %>
      <%= link_to image_tag('edit.svg', class:'icon-xs'),
      edit_diet_profile_path(@diets.map(&:id)), id:"edit-icon" %>
    <% end %>
  </div>
</div> <!-- end dash-main-list-container !-->
