<!-- _show.html.erb !-->
<div class='card-user-content diet-profile'>
  <div class="user-profile-container">
    <% unless @diets.select(&@diet).empty? %>
      <%= render 'diet_profiles/diet' %>
    <% end %>

    <% unless @diets.select(&@allergy).empty? %>
      <%= render 'diet_profiles/allergy'%>
    <% end %>

    <% unless @diets.select(&@macros).empty? %>
      <%= render 'diet_profiles/macros' %>
    <% end %>

    <!-- TODO: ADD STYLING FOR THIS BUTTON -->
    <% if @diets.empty?  %>
      <%= link_to "Add a diet profile", new_diet_profile_path %>
    <% else %>
    <div class='user-preference'>
      <h4 class='user-profile-head'></h4>
        <p>Do you have allergies or macronutrient preferences?</p>
      <div class='user-preference-list'>
        <div class="user-preference-labels">
          <%= link_to "Update your diet profile!",
          edit_diet_profile_path(@diets.map(&:id)) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div> <!-- end dash-main-list-container !-->

