<div class='container'>
  <%= form_tag diet_profiles_path, method: :post do %>
  <div class="diet-container">
    <%= link_to image_tag('cancel.svg', class:'icon-xs', id:'exit'), dashboard_path %>
    <div class="diet-content">
      <div class="diet-card">
        <h4 class="diet-title">Diet</h4>
        <% @diet_labels.select(&:diet?).each do |tag| %>
        <label class="diet-item">
           <%= check_box_tag "diet_profile[health_label_id][]", tag.id %>
            <span class="label-icon">
            <div class="icon-sm">
              <%  tag.assign_icon(tag) %>
              <%= image_tag "#{tag.icon_path}", class: 'icon-sm',
                alt: 'Allergy Icon', data: { title: 'allergy' },
                'aria-haspopup': true, 'aria-expanded': false %>
              <div class="icon-name">
                <%= tag.name.capitalize %>
              </div>
            </div>
          </span>

          <p class="diet-card-text"><%= tag.name %></p>
        </label>
        <% end %>
      </div>


      <div class="diet-card">
        <h4 class="diet-title">Allergies</h4>
        <% @diet_labels.select(&:allergy?).each do |tag| %>
        <label class="diet-item">
           <%= check_box_tag "diet_profile[health_label_id][]", tag.id %>
            <span class="label-icon">
            <div class="icon-sm">
              <%  tag.assign_icon(tag) %>
              <%= image_tag "#{tag.icon_path}", class: 'icon-sm',
                alt: 'Allergy Icon', data: { title: 'allergy' },
                'aria-haspopup': true, 'aria-expanded': false %>
            </div>
          </span>
          <p class="diet-card-text"><%= tag.name.gsub('-Free', '') %></p>
        </label>
        <% end %>
      </div>


    <!--   <div class="diet-card">
        <h4 class="diet-title">Macros</h4>
        <%# @diet_labels.select(&:macro?).each do |tag| %>
        <label class="diet-item">
           <%#= check_box_tag "diet_profile[health_label_id][]", tag.id %>
          <p class="diet-card-text"><%#= tag.name %></p>
          <%# end %>
        </label>
      </div> -->
      <% end %>
    </div>
  <%= submit_tag 'Submit', class: 'green-button m-5' %>
  </div>
</div>

