
<div>
<%= form_tag diet_profiles_path, method: :post do %>
<div>
  <h6>Diet</h6>
  <ul>
  <% @diet_labels.select(&:diet?).each do |tag| %>
    <%= check_box_tag "diet_profile[health_label_id][]", tag.id %>
    <%= tag.name %>
  <% end %>
  </ul>
</div>


<div>
  <h6>Allergies</h6>
  <ul>
  <% @diet_labels.select(&:allergy?).each do |tag| %>
    <%= check_box_tag "diet_profile[health_label_id][]", tag.id %>
    <%= tag.name.gsub('-Free', '') %>
  <% end %>
  </ul>
</div>


<div>
  <h6>Macronutrient preferences</h6>
  <ul>
  <% @diet_labels.select(&:macro?).each do |tag| %>
    <%= check_box_tag "diet_profile[health_label_id][]", tag.id %>
    <%= tag.name %>
  <% end %>
  </ul>
</div>

    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>

