<div>
<%= form_tag dashboard_path, method: :get do %>
<div>
  <% diet = Proc.new { |x| x.health_label.category == "diet" }  %>
  <ul>Diet:
    <% @diets.sort.select(&diet).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name %>
    <% end %>
    <%= submit_tag '', class: 'btn btn-primary' %>
  </ul>
</div>


<div>
  <ul>Allergies:
  <% allergy = Proc.new { |x| x.health_label.category == "allergy" }  %>
    <% @diets.sort.select(&allergy).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name.gsub('-Free', '') %>
    <% end %>
  </ul>
</div>


<div>
  <ul>Macronutrient preferences:
  <% macros = Proc.new { |x| x.health_label.category == "macros" }  %>
    <% @diets.sort.select(&macros).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name %>
    <% end %>
  </ul>
</div>

    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
