<div>
  <% diet = Proc.new { |x| x.health_label.category == "diet" }  %>
  <ul>Diet profile:
  <%= form_tag restaurants_path, method: :get do %>
    <% @diets.select(&diet).sort.each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name %>
    <% end %>
  <% end %>
  </ul>
</div>


<div>
  <ul>Allergies:
  <% allergy = Proc.new { |x| x.health_label.category == "allergy" }  %>
  <%= form_tag restaurants_path, method: :get do %>
    <% @diets.select(&allergy).sort.each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name.gsub('-Free', '') %>
    <% end %>
  <% end %>
  </ul>
</div>


<div>
  <ul>Macronutrient preferences:
  <% macros = Proc.new { |x| x.health_label.category == "macros" }  %>
  <%= form_tag restaurants_path, method: :get do %>
    <% @diets.select(&macros).sort.each do |tag| %>
    <%= check_box_tag 'tag_ids[]', tag.id, id: tag, class: 'form-control'%>
      <%= tag.health_label.name.gsub('-Free', '') %>
    <% end %>
  <% end %>
  </ul>
</div>

