<div>
<%= form_tag dashboard_path, method: :get do %>
<div>
  <h6>Diet</h6>
  <% diet = Proc.new { |x| x.health_label.category == "diet" }  %>
  <ul>
    <% @diets.sort.select(&diet).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', id: tag,  class: 'form-control' %>
      <%= tag.health_label.name %>
    <% end %>
  </ul>
</div>


<div>
  <h6>Allergies</h6>
  <ul>
  <% allergy = Proc.new { |x| x.health_label.category == "allergy" }  %>
    <% @diets.sort.select(&allergy).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', id: tag, class: 'form-control'%>
      <%= tag.health_label.name.gsub('-Free', '') %>
    <% end %>
  </ul>
</div>


<div>
  <h6>Macronutrient preferences</h6>
  <ul>
  <% macros = Proc.new { |x| x.health_label.category == "macros" }  %>
    <% @diets.sort.select(&macros).each do |tag| %>
    <%= check_box_tag 'tag_ids[]', id: tag, class: 'form-control'%>
      <%= tag.health_label.name %>
    <% end %>
  </ul>
</div>

    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>

