<div class="container">
  <div class="py-5">

    <h1><%= @restaurant.name %> </h1>
    <p><%= @restaurant.location %></p>


    <h2>Starters</h2>
      <div class="cards">
        <% @starter.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
      <h2>main</h2>
      <div class="cards">
        <% @main.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
      <h2>salads</h2>
      <div class="cards">
        <% @salad.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
      <h2>Dessert</h2>
      <div class="cards">
        <% @dessert.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
    <!-- padding -py-5 -->
<%= link_to "Back", restaurants_path, class:'btn btn-dark' %>
  </div>
  <!-- container -->
</div>