<div class="container">
  <div class="py-5">
      <h1 class='text-center'>
        Choose your future favourite restaurant!
      </h1>

      <div class="cards mt-3">
        <%# raise %>

        <% @all_restaurants.each do |restaurant| %>
        <div class="card-category card-wrap">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img">
          <div class="card-layer">
            <%= link_to "See More", restaurant_path(restaurant, :user_ids => @user_ids), class:'card-hover-text' %>
          </div>
          <div class="card-description">
            <div class="card-info">
              <%= link_to restaurant.name, restaurant_path(restaurant, :user_ids => @user_ids)%>
              <p> <%= restaurant.location %> </p>  
              <p> <%= restaurant.compatibility(@users) %> </p>
            </div>
            <%= image_tag 'alcohol.svg', class:'card-icon' %>
          </div>
        </div> 
        <% end %>
      </div>
  </div>
</div>

