
<div class="container">
  <div class="py-5">

    <h1>
      <%= @restaurant.name %>
    </h1>
    <p>
      <%= @restaurant.location %>
    </p>

    <p>
      <%= @restaurant.compatibility(@users) %>
    </p>


  <% @users.each do |user| %>
    <button id="<%= user.id %>" class="person-button">
      <%= user.name %>   
    </button>
  <% end %>

  
  <% @users.each do |user| %>
  <div class="dishes" id="<%= user.id %>-dishes">
    <ul>
      <% @restaurant.dishes_for(user).each do |dish| %>
        <li><%= dish.name %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<%= link_to "Back", restaurants_path %>
    
<h2>Entire menu</h2>
   
    <h2>
      Starters
    </h2>
 
      <h2>
        main
      </h2>
      <div class="cards">
        <% @main.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
      <h2>
        salads
      </h2>
      <div class="cards">
        <% @salad.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
      <h2>
        Dessert
      </h2>
      <div class="cards">
        <% @dessert.each do |dish| %>
        <!-- card content -->
        <div class="card-category">
          <%= image_tag dish.img_url, class:'card-img' %>
          <div class="card-description">
            <div class="card-info">
              <%= dish.name %>
            </div>
          </div>
        </div>
        <% end %>
      </div>  
    <!-- padding -py-5 -->
  </div>
  <!-- container -->
</div>

