<div class="container">
  <h1><%= @restaurant.name %> </h1>
  <p><%= @restaurant.location %></p>
  
  <h2>starters</h2>
  
  <div class="cards">
    <% @starter.each do |dish| %>
    <div class="card-category">
      <div class="card-description">
        <div class="card-info">
          <%= dish.name %>
        </div>
      </div>
    </div>
    <%# image_tag dish.img_url %>
    <% end %>
  </div>  
  
  <h2>salad</h2>
  
  <div class="cards">
    <% @salad.each do |dish| %>
    <div class="card-category">
      <div class="card-description">
        <div class="card-info">
          <%= dish.name %>
        </div>
      </div>
    </div>
    <%# image_tag dish.img_url %>
    <% end %>
  </div>  

  <h2>main</h2>
  
  <div class="cards">
    <% @main.each do |dish| %>
    <div class="card-category">
      <div class="card-description">
        <div class="card-info">
          <%= dish.name %>
        </div>
      </div>
    </div>
    <%# image_tag dish.img_url %>
    <% end %>
  </div>  
  

  <h2>dessert</h2>
  
  <div class="cards">
    <% @dessert.each do |dish| %>
    <div class="card-category">
      <div class="card-description">
        <div class="card-info">
          <%= dish.name %>
        </div>
      </div>
    </div>
    <%# image_tag dish.img_url %>
    <% end %>
  </div>  
  
</div>


<%= link_to "Back", restaurants_path %>
