<h1><%= @restaurant.name %> </h1>
<p><%= @restaurant.location %></p>

<ul>
  <li>
    <% @restaurant.dishes.where(dish_type: "starter").each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @restaurant.dishes.where(dish_type: "salad").each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @restaurant.dishes.where(dish_type: "main").each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @restaurant.dishes.where(dish_type: "dessert").each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>

</ul>

<%= link_to "Back", restaurants_path %>
