<h1><%= @restaurant.name %> </h1>
<p><%= @restaurant.location %></p>

<ul>
  <li>
    <% @starter.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @salad.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @main.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @dessert.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>

</ul>

<%= link_to "Back", restaurants_path %>
