<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.location %></p>

<% @users.each do |user| %>
  <h2><%= user.name %></h2>
  <ul>
    <% @restaurant.dishes_for(user).each do |dish| %>
      <li><%= dish.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Back", restaurants_path %>

<h2>Entire menu</h2>

<ul>
  <li>
    <% @starter.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @salad.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @main.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>
   <li>
    <% @dessert.each do |dish| %>
    <%= dish.name %>
    <%= image_tag dish.img_url %>
    <% end %>
  </li>

</ul>


