<div class="container">
  <div class="py-5">
    <div class="text-center">
      <h1>
        <%= @restaurant.name %>
      </h1>
      <div class="card-restaurant">
        <div class="card-match-calculation">
          <%= @restaurant.compatibility(@users) %>% Match
        </div>
        <div class="d-flex justify-content-between">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-restaurant-img">
          <div class="restaurant-contact-info">
            <div class="d-flex flex-column align-items-start">
              <div class="contact-item">
                <%= image_tag 'address.svg', class:'card-icon' %>
                <p> <%= @restaurant.location %> </p>                 
              </div>
              <div class="contact-item">
                <%= image_tag 'telephone.svg', class:'card-icon' %>
                <p> <%= @restaurant.phone_number %> </p>  
              </div>
            </div>
            <div class="buttons-container">
              <a href="#" class="green-button">See Menu</a>
              <%= link_to "Visit Website",@restaurant.website, class:"green-button" %>
              <%= link_to "back", restaurants_path, class:"green-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>