<div class="container">
  <div class="py-5">
    <div class="text-center">
      <h1>
        <%= @restaurant.name %>
      </h1>
      <div class="card-restaurant">
        <div class="card-match-calculation">
          <%= @restaurant.compatibility(@users) %>% Match
        </div>
        <div class="d-flex justify-content-between">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-restaurant-img">
          <div class="restaurant-contact-info align-items-between">
            <div class="d-flex flex-column align-items-start">
              <p> <%= @restaurant.location %> </p>  
              <p> <%= @restaurant.phone_number %> </p>  
              <p>  </p>  
              <div class="buttons">
                <button class="green-button w-75">See Menu</button>
                <button class="green-button w-75"><%= link_to "Visit Website",@restaurant.website %></button>
                <button class="green-button w-75">Back to Restaurants</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>