<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%# <base href='http://www.food-fluent.xyz' target='_blank' /> %>
    <link title='Font Awesome' rel='stylesheet' crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.15.3/css/all.css' hreflang='en-ca' />
    <%# <link property='url' content='http://www.food-fluent.xyz' /> %>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8' />
    <meta http-equiv='default-style' content='../../assets/stylesheets/application.scss' />
    <meta http-equiv='x-ua-compatible' content='IE=edge,chrome=1' />
    <meta itemprop='description' content='Find a restaurant for everyone on food-fluent.' />
    <meta itemprop='name' content='food-fluent' />
    <meta name='author' content='the food-fluent team' />
    <meta name='description' content='Find a restaurant for everyone on food-fluent.' />
    <meta name='geo.placename' content='Montreal' />
    <meta name='geo.position' content='45.526190;-73.595310' />
    <meta name='geo.region' content='CA-QC' />
    <meta name='ICBM' content='45.526190,-73.595310' />
    <meta name='keywords' content='allergy,allergies,diet,diets,food,foods,food allergy,food allergies,restaurant,restaurants' />
    <meta name='robots' content='all' />
    <meta name='twitter:description' content='Find a restaurant for everyone on food-fluent.' />
    <meta name='twitter:image:alt' content='food-fluent-logo' />
    <meta name='twitter:title' content='food-fluent' />
    <meta name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no' />
    <meta property='og:description' content='Find a restaurant for everyone on food-fluent.' />
    <meta property='og:locale' content='en_CA' />
    <meta property='og:site_name' content='food-fluent' />
    <meta property='og:title' content='food-fluent' />
    <meta property='og:type' content='website' />
    <title>food-fluent | restaurant finder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <div id="wrapper">
          <%= yield %>
        </div>
      <%= render 'shared/footer' %>
  </body>
</html>
<% console %>
